body {
  margin: 0;
  height: 100vh;
  background-color: #FDD7E9;
}

.site-container {
  display: flex;
  flex-direction: column;
}

.display-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 70%;
  height: 100%;
}